.container {
  width: 100%;
  .content {
    display: flex;
    width: 85%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 10%;
    padding: 15% 0 10% 0;
    .images {
      img {
        width: 526px;
        height: 542px;
      }
    }
    .title {
      gap: 40px;
      display: flex;
      flex-direction: column;
      h1 {
        white-space: nowrap;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 140%;
        color: #ffffff;
      }
      p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #ffffff;
      }
    }
  }
}
@media screen and (max-width: 1250px) {
  .container {
    .content {
      .images {
        img {
          width: 426px;
          height: 442px;
        }
      }
      .title {
        h1 {
          font-size: 38px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    .content {
      gap: 7%;

      .images {
        img {
          width: 386px;
          height: 402px;
        }
      }
      .title {
        h1 {
          font-size: 30px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    .content {
      .images {
        img {
          width: 366px;
          height: 382px;
        }
      }
      .title {
        h1 {
          font-size: 25px;
        }
        p {
          font-size: 13px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .content {
      flex-direction: column;
      gap: 50px;
      .images {
        img {
          width: 406px;
          height: 422px;
        }
      }
      .title {
        h1 {
          font-size: 32px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    .content {
      .images {
        img {
          width: 386px;
          height: 402px;
        }
      }
      .title {
        h1 {
          font-size: 28px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .container {
    .content {
      .images {
        img {
          width: 326px;
          height: 342px;
        }
      }
      .title {
        h1 {
          font-size: 25px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .container {
    .content {
      .images {
        img {
          width: 286px;
          height: 302px;
        }
      }
      .title {
        h1 {
          font-size: 22px;
        }
        p {
          font-size: 13px;
        }
      }
    }
  }
}
